@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200&display=swap');
html {
  background-image: linear-gradient(#fbab7e, #f7ce68);
}

body {
  background-image: url(images/thumb2.png);
  background-position: top center;
  background-repeat: no-repeat;
  font-family: "poppins", sans-serif;
  color: black;
  font-size: 1.125 rem;
}


.herobox1.thumbCancer{
  font-size: large;
}

.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid lightgray;
}

main {
  padding-bottom: 30px;
  padding-top: 20px;
  min-height: 300px;
  display: flex;
  align-items: center;
}
.main2 {
  min-height: 300px;
  padding-top: 30px;
  font-weight: bold;

}

.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.card1 {
  background-size: cover;
  background-position: top;
  min-height: 250px;
  width: 22%;
}


.card1 p {
  position: relative;
  top: 115px;
}
.card2 {
  background-size: cover;
  background-position: center;
  min-height: 250px;
  width: 22%;

}
.card2 p {
  position: relative;
  top: 135px;
}
.card3 {
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 22%;

}
.card3 p {
  position: relative;
  top: 135px;
}
.card4 {
  background-size: cover;
  background-position: top;
  min-height: 250px;
  width: 22%;
}


.card4 p {
  position: relative;
  top: 115px;
}

a {
  color: white;
  text-decoration: none;
}

.herobox1 {
  font-weight: bold;
  padding-right: 100px;
  flex: 2;
}

.herobox2 {
  flex: 1;
}
h1 {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
}
h2 {
  margin-top: 10px;
  font-size: 1.25rem;
  font-family: "Playfair Display", serif;
}

p {
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.cards p {
  font-size: 0.85rem;
  line-height: 1.19rem;
  margin: 10px 30px 20px 30px;
}

.cards i {
  padding-top: 20px;
  font-size: 100px;
}

.cards a {
  color: white;
  text-decoration: none;
}
.mybutton {
  color: #f7ce68;
  font-family: "poppins", serif;
  text-decoration: none;
  background-color: rgb(21, 181, 16);
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
}

.mybutton:hover {
  background-color: #0fad1c;
  transition-duration: 0.5s;
}

a.mybutton {
  display: inline-block;
  margin-top: 5px;
  box-shadow: 2px 2px 2px rgb(21, 181, 16);
}

nav a.mybutton {
  margin-left: 1px;
}

.navbutton {
  color: white;
  background-color: transparent;
  font-family: "poppins", serif;
  border: 1px;
  border-color: white;
  border-style: solid;
  box-shadow: 0px 0px 0px 0px;
  border-radius: 0px 0px;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.review {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 100px;
  padding-right: 250px;
  padding-left: 250px;
}

.rbox {
  width: 47%;
  padding: 50px;
  border: 2px solid rgb(160, 95, 234);
  box-sizing: border-box;
  margin-top: 50px;
  background-color: #709397;
  border-radius: 10px;
}

.rbox :last-child {
  font-size: 0.8rem;
  padding-left: 20px;
}

.dropdown {
  display: none;
  position: absolute;
  padding-top: 20px;
  text-align: center;
  margin-left: -25px;
}

.navbutton:hover .dropdown {
  display: block;
}

.dropdown .navbutton {
  width: 120px;
  background-color: azure;
  transition-delay: 500ms;
}
.dropdown .navbutton a {
  color: #f7ce68;
}
.dropdown .navbutton:hover {
  background-color: #709397;
  transition-duration: 500ms;
}

/* form input {
  display: inline;
  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 10px;
} */

.inputwrapper {
  margin-bottom: 20px;
  padding-top: 20px;
}





/* carrot*/
.heading{
 font-weight: bolder;
 font-size: xx-large;
 color: #709397;
}

.sub-heading{
font-weight: lighter;
font-size: larger;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.space{
  padding-bottom: 10px;
}